{% extends 'base_auth.html' %}
{% load static %}

{% block titulo %}
    Cadastrar
{% endblock %}

{% block content_head %}
    <link rel="stylesheet" href="{% static 'users/css/cadastrar.css' %}">
{% endblock %}

{% block content_body %}
    <div class="container">
        <br>
        <h1 id="title-h1">Cadastrar</h1>
        <hr>
        <!-- Utilizar essa parte para os status de cadastro -->
        <div id="form-cadastrar">
            <!-- Pensar em um design para o form -->
        </div>
    </div>
{% endblock %}