{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Home
{% endblock %}

{% block content_head %}
    <link rel="stylesheet" href="{% static 'todo/css/home.css' %}">
{% endblock %}

{% block content_body %}
    <div class="container">
        <br>
        <h1>Tarefas a fazer</h1>
        <hr>
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li {% if message.tags %} class="alert {{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="{% url 'criar_tarefa' %}" class="btn btn-success">Criar Tarefa</a>
        <a href="{% url 'api_todo' %}" class="btn btn-primary">Acessar API</a>
        <br>
        <table class="table table-striped" id="table-todo">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome da Tarefa</th>
                    <th scope="col">Data</th>
                    <th scope="col">Está Feita?</th>
                    <th scope="col">Ver Detalhes</th>
                    <th scope="col">Atualizar</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for tarefa in tarefas %}
                    <tr>
                    <th scope="row">{{tarefa.id}}</th>
                        <td>{{tarefa.nome}}</td>
                        <td>{{tarefa.data}}</td>
                        {% if tarefa.esta_feita == False %}
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" id="x-false"/>
                              </svg>
                            </td>
                        {% else %}
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" id="check"/>
                              </svg>
                            </td>
                        {% endif %}
                        <td><a href="{% url 'detalhes_tarefa' tarefa.id %}" class="btn btn-warning">Detalhes</a></td>
                        <td><a href="{% url 'atualizar_tarefa' tarefa.id %}" class="btn btn-primary">Atualizar</a></td>
                        <td><a href="{% url 'excluir_tarefa' tarefa.id %}" class="btn btn-danger">Excluir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}